name: Zephyr Build and Test

on: [push, pull_request]

jobs:
  build-test:
    runs-on: ${{ matrix.os }}
    strategy:
      fail-fast: false
      matrix:
        os: [ubuntu-latest, windows-latest]

    steps:
      - name: Setup Python
        uses: actions/setup-python@v4
        with:
          python-version: '3.11'

      - name: Python version
        run: |
          python3 --version

      - name: Checkout
        uses: actions/checkout@v4
        with:
          path: libcsp-zephyr

      - name: Setup Zephyr
        uses: zephyrproject-rtos/action-zephyr-setup@v1
        with:
          app-path: libcsp-zephyr
          toolchains: arm-zephyr-eabi

      - name: Twister
        run: |
          west twister -v --integration -T libcsp-zephyr
